form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.container-four-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.3rem
}

.container-two-item {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.3rem;
}

a, button {
  width: fit-content;
  margin: 0 0.5rem;
}

#others {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto 0;
  padding-bottom: 1rem;
}

#others > button,
#others > mat-checkbox {
  margin: auto 0rem ;
}

#others-mat-icon {
  padding-bottom: 8px;
}

.button-container {
  margin-bottom: 5rem;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
}

.price-comment-container {
  display: grid;
  grid-template-columns: 8rem 20rem;
  column-gap: 0.3rem
}

#price-input {
  text-align: right;
}