<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          List of Books
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
      <mat-card class="example-card" *ngFor="let t of fileData.data, let i = index">
        <!-- <img mat-card-md-image [src]="t.src"> -->
        <div class="no">{{t.no}}.</div>
        <div class="container">
          <mat-card-title-group>
            <mat-card-title> {{t.authors}}: {{t.title}} ({{t.publish_date}})</mat-card-title>
            <mat-card-subtitle><b>Subtitle:</b><span>{{t.subtitle}}</span><b>Publisher:</b><span> {{t.publishers}}</span></mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <div class="in-mat-card-content">
              <div>
                <div class="inner-mat-car-container">
                  <mat-card class="inner-mat-card"><b>Number of pictures:</b> {{t.numberOfPics?.length}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Price:</b> {{t.price}}$</mat-card>
                  <mat-card class="inner-mat-card"><b>Condition:</b> {{t.condition}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Country:</b> {{t.country}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Language:</b> {{t.language}}</mat-card>
                  <mat-card class="inner-mat-card"><b>ISBN:</b> {{t.isbn}}</mat-card>
                <!-- </div>
                <div class="inner-mat-car-container"> -->
                  <mat-card class="inner-mat-card"><b>Format:</b> {{t.format}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Features:</b> {{t.features}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Edition:</b> {{t.edition}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Inscribed?</b> {{t.inscribed ? "Yes" : "No"}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Signed?</b> {{t.signed ? "Yes" : "No"}}</mat-card>
                  <mat-card class="inner-mat-card"><b>Comment:</b> {{t.comment}}</mat-card>
            </div>
          </div>
          <mat-card-actions>
            <div>
              <button mat-icon-button (click)="onClick(i)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button (click)="onDelete(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>

</mat-expansion-panel>
</mat-accordion>
